<!DOCTYPE html>
<html>
  <head>
    <meta charset ="utf-8"><title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='favicon.ico' type= 'image/x-icon' />
  </head>
  <body>
    <h3><%= title %></h3>
    <p>Fernando Estevez Llaveria y Javier Garcia Diaz</p>
    <div id="fotof" class="img"><img width="150" height ="130" src="felnando.jpg"></div>
    <div id="fotoj" class="img"><img height="130" src="aviel.jpg"></div>
  </body>
</html>
